@import "tailwindcss";
@font-face {
  font-family: 'CartoonSplash';
  src: url('./fonts/CartoonSplash.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
    background: #000;
    font-family: 'CartoonSplash', sans-serif;
}
html { scroll-behavior: smooth; }

.num{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
}